/* Color Scheme */
:root {
    --primary-color: white ;
    --secondary-color: #024e76;
    --tertiary-color: #0057B8;
  }
/* Site-wide styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body styles */
body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(191, 210, 216);
}
/* <header> styles */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    background-image: url("../../images/coding-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
  /* page title */
header h1 {
    font-weight: bold;
    font-size: 36 px;
    color: var(--primary-color);
    margin: 0;
}
/* navigation styles */
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}
/* hover effect */
header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.5);
    color: var(--secondary-color);
    border-radius: 15px;
}
/* hero/jumbotron styles */
.hero {    
    background-image: url("../../images/coding-bg.jpeg");
    background-size: cover;
    height: 320px;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.hero img {
    display: flex;
    width: 100%;
    border: 5px solid;
    border-radius: 5px;
}
.hero span {
    display: flex;
    margin: 15px 0;
    width: 100%;
    background-color: rgb(191, 210, 216);
    text-align: center;
    color: var(--secondary-color);
    padding: 10px 5px;
    border: 5px solid;
    border-radius: 5px;
}
/* flex parent */
.flex-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }
  /* flex child */
.flex-item {
    width: 49%;
    font-size: 22px;
    font-weight: bold;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
  /* flex child column 1*/
.section-title {
    font-size: 24px;
    color: var(--secondary-color);
    border-right: 3px solid;
    margin: 0 0 0 150px;
    padding: 0 10px;
    text-align: right;
    flex: 0 0 160px;
}
  /* flex child column 2*/
.section-content {
    font-size: 16px;
    text-align: left;
}
  /* My Work grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;
}
.grid-item {
    display: flex;
    background-size: cover;
    min-height: 150px;
    align-items: center;
    border: 5px solid;
    border-radius: 5px;
    line-height: 0.75;
}
/* turn grid-items into links */
.grid-item:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}
a.grid-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
}
  /* labels for grid-items */
.grid-item span {
    margin: auto 0 20px 0;
    width: auto;
    background-color: rgb(191, 210, 216);
    color: var(--secondary-color);
    padding: 10px 5px;
    text-align: left;
}
  /* label line 1*/
.grid-item h3 {
    font-size: 24px;
}
  /* label line 2*/
.grid-item h4 {
    font-size: 14px;
}
  /* increase size of item-1 */
.item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url("../../images/run-buddy-img.PNG");
}
.item-2 {
    background-image: url("../../images/horiseon.PNG");
}
.item-3 {
    background-image: url("../../images/javascript.jpg");
}
.item-4 {
    background-image: url("../../images/binary-code.jpg");
}
.item-5 {
    background-image: url("../../images/code.jpg");
}    